:root {
  --ion-color-primary: #5B6DC4;
  --ion-color-primary-rgb: 91,109,196;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5060ac;
  --ion-color-primary-tint: #6b7cca;

  --ion-color-secondary: #82AEE0;
  --ion-color-secondary-rgb: 130,174,224;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #7299c5;
  --ion-color-secondary-tint: #8fb6e3;

  --ion-color-tertiary: #575B95;
  --ion-color-tertiary-rgb: 87,91,149;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4d5083;
  --ion-color-tertiary-tint: #686ba0;

  --ion-color-success: #99B040;
  --ion-color-success-rgb: 153,176,64;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #879b38;
  --ion-color-success-tint: #a3b853;

  --ion-color-warning: #D2CE70;
  --ion-color-warning-rgb: 210,206,112;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #b9b563;
  --ion-color-warning-tint: #d7d37e;

  --ion-color-danger: #D5742C;
  --ion-color-danger-rgb: 213,116,44;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #bb6627;
  --ion-color-danger-tint: #d98241;

  --ion-color-dark: #2D284D;
  --ion-color-dark-rgb: 45,40,77;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #282344;
  --ion-color-dark-tint: #423e5f;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #C5C2D1;
  --ion-color-light-rgb: 197,194,209;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #adabb8;
  --ion-color-light-tint: #cbc8d6;
}
