.welcome-card img {
  max-height: 35vh;
  object-fit: contain;
  overflow: hidden;
}

ion-card-content ion-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

ion-toolbar {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast)
}

ion-grid {
  --ion-grid-width-xl: 960px;
}
